@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin: 20px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: none;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: none; 
    padding: 5px;
    border-radius: 100px;
}

/* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: none; 
}